/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

body {
  background-color: #e0e0e0;
  font-family: 'Helvetica Neue', 'Helvetica';
  color: #444;
  background: url('../img/mojo_main_tile.svg');
  h2 {
    color: rgba(0,0,0, 0.3);
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    padding-top: 80px;
  }
  > div {
    @include border-radius(3px);
    @include transition(all 200ms);
    width: 60%;
    padding: 32px;
    margin: 0 auto;
    text-align: center;
    input, textarea {
      border-radius: 10px;
      border: 0;
      background-color: rgba(225,225,225,0.8);
    }
    input {
      width: 95%;
      padding: 10px 2.5%;
      font-size: 20px;
      margin:16px 0;
    }
    textarea {
      width: 100%;
    }
    iframe {
      width: 100%;
      min-height: 300px;
    }
  }
  > .transcriptPreview {
    @include border-radius(3px);
    background-color: rgba(255,255,255, 0.6);
    border: 1px solid rgba(135,135,135, 0.5);
    text-align: left;
    width: 50%;
    padding: 16px 5%;
  }
  .hidden {
    padding:0;
    opacity: 0;
    height: 0;
  }
  button.submit {
    border: 1px solid #56b12e; // stroke
    @include border-radius(3px); // border radius
    @include background-clip(); // prevents bg color from leaking outside the border
    background-color: #85d557; // layer fill content
    @include box-shadow(0 1px 1px #2f7012, inset 0 1px 0 rgba(255,255,255,.35), inset 0 0 3px rgba(255,255,255,.7)); // drop shadow, inner shadow and inner glow
    @include background-image(linear-gradient(bottom, #68c334 0%, #85d557 100%)); // gradient overlay
    padding: 8px 50px;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f0f0f0;
    cursor: pointer;
  }
}