!!!
html
  head
    script(src='jquery.js')
    script(src='traniCreator.js')
    script(src='trani.template.js')
    script(src='http://a.vimeocdn.com/js/froogaloop2.min.js')
    script(src='trani.js')
    script(src='fitVids.js')
    link(rel='stylesheet', type='text/css', href='trani.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/screen.css')
  body
    h2 Trani.js
    div.enterUrl
      h3 Enter your vimeo url to begin transcribing.
      input(name='vimeoUrl', value="http://player.vimeo.com/video/42565022").url
      button.submit Load Video
    div.videoWrapper.hidden
    h4.transcriptPreviewLabel.hidden Transcript Preview
    div.transcriptPreview.hidden
    h4.transcriptEntryLabel.hidden Staging Area
    div.transcriptEntry.hidden
      textarea(name='transcript').transcriptEntry
    p.hidden Press CTRL + Space to Play/Pause, type a sentence (pausing if the narrator gets ahead of you) and press Enter to add it to the Transcript Preview Area. Repeat.