/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  background-color: #e0e0e0;
  font-family: 'Helvetica Neue', 'Helvetica';
  color: #444;
  background: url("../img/mojo_main_tile.svg");
}
/* line 14, ../sass/screen.scss */
body h2 {
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  padding-top: 80px;
}
/* line 22, ../sass/screen.scss */
body > div, body h4, body p {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  width: 60%;
  padding: 32px;
  margin: 0 auto;
  text-align: center;
}
/* line 29, ../sass/screen.scss */
body > div input, body > div textarea, body h4 input, body h4 textarea, body p input, body p textarea {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid rgba(225, 225, 225, 0.9);
  background-color: rgba(235, 235, 235, 0.8);
}
/* line 34, ../sass/screen.scss */
body > div input, body h4 input, body p input {
  width: 95%;
  padding: 10px 2.5%;
  font-size: 20px;
  margin: 16px 0;
}
/* line 40, ../sass/screen.scss */
body > div textarea, body h4 textarea, body p textarea {
  width: 100%;
}
/* line 43, ../sass/screen.scss */
body > div input:focus, body > div textarea:focus, body h4 input:focus, body h4 textarea:focus, body p input:focus, body p textarea:focus {
  outline: none;
}
/* line 46, ../sass/screen.scss */
body > div iframe, body h4 iframe, body p iframe {
  width: 100%;
  min-height: 300px;
}
/* line 51, ../sass/screen.scss */
body > h4, body p {
  font-size: 14px;
  text-align: left;
  padding: 0 0 8px;
}
/* line 56, ../sass/screen.scss */
body > .transcriptPreview {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(135, 135, 135, 0.5);
  text-align: left;
  width: 50%;
  padding: 16px 5%;
  margin-bottom: 32px;
}
/* line 65, ../sass/screen.scss */
body div.transcriptEntry {
  padding-top: 0px;
}
/* line 68, ../sass/screen.scss */
body .hidden {
  padding: 0;
  opacity: 0;
  height: 0;
}
/* line 73, ../sass/screen.scss */
body button.submit {
  border: 1px solid #56b12e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #85d557;
  -webkit-box-shadow: 0 1px 1px #2f7012, inset 0 1px 0 rgba(255, 255, 255, 0.35), inset 0 0 3px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 1px 1px #2f7012, inset 0 1px 0 rgba(255, 255, 255, 0.35), inset 0 0 3px rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 1px #2f7012, inset 0 1px 0 rgba(255, 255, 255, 0.35), inset 0 0 3px rgba(255, 255, 255, 0.7);
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #68c334), color-stop(100%, #85d557));
  background-image: -webkit-linear-gradient(bottom, #68c334 0%, #85d557 100%);
  background-image: -moz-linear-gradient(bottom, #68c334 0%, #85d557 100%);
  background-image: -o-linear-gradient(bottom, #68c334 0%, #85d557 100%);
  background-image: linear-gradient(bottom, #68c334 0%, #85d557 100%);
  padding: 8px 50px;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f0f0f0;
  cursor: pointer;
}
